#comments > ul,
#comments .children {
  list-style: none;
  padding: 0;
  border-top: 1px solid lightgray;
}
#comments .comment {
  padding: 1em;
  position: relative;
  border-bottom: 1px solid lightgray;
  background-color: white;
  overflow: hidden;
  margin: 0;
}
#comments .comment-author img {
  vertical-align: top;
  padding-right: .5em;
}
#comments .comment-author cite {
  font-style: normal;
}
#comments .comment-meta {
  position: absolute;
  top: 1em;
  right: 1em;
  text-align: right;
}
#comments .comment-meta a:link {
  text-decoration: none;
  color: grey;
}
#comments .children {
  border-left: 1px solid lightgrey;
}
#comments .children .comment {
  border-top: none;
}
#comments .children .comment-meta a {
  display: none;
}
#comments .children .comment-meta a.comment-edit-link {
  display: inline;
}
#comments .children li {
  padding-right: 0;
}
#comments .children li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
#comments .g-recaptcha {
  margin-bottom: 1em;
}
#comments .pingback {
  display: none;
}
#comments .parent {
  padding-bottom: 0;
}
#comments .thread-alt,
#comments .alt {
  background-color: #f2f2f2;
}
#comments .depth-1 > ul {
  margin-right: -1em;
}
#comments .parent .reply,
#comments .children .reply {
  margin-bottom: 1em;
}
#comments #respond {
  margin-bottom: 5em;
}
#comments #respond h3 {
  font-size: 14pt;
}
#comments #respond label {
  margin-bottom: .5em;
  display: block;
}
#comments #respond textarea {
  width: 100%;
}
