@media screen and (min-width: 35em) {
  header {
    left: 2em;
  }
  #homepage .about,
  #homepage .blog {
    width: 75%;
  }
  #homepage .filter .taxonomy {
    float: left;
    width: 48%;
    margin-right: 2%;
  }
  #homepage .filter .taxonomy > ul {
    max-height: 30em;
    overflow: auto;
  }
  #homepage .blog article {
    margin: 0 0 4em;
  }
  #homepage .blog article h2,
  #homepage .blog article p {
    margin-left: 0;
    margin-right: 0;
  }
  #workshop .desc {
    width: 75%;
  }
  #workshop ul.links {
    width: 75%;
  }
  #workshop .photos {
    height: 25em;
  }
  #workshop section {
    width: 100%;
    overflow: hidden;
  }
  .post img {
    max-width: 100%;
    margin-left: 0;
  }
  footer a,
  footer p {
    max-width: 75%;
  }
}
@media screen and (min-width: 50em) {
  section > .wrapper {
    margin: 0 2em;
  }
  header nav {
    display: none;
  }
  #map {
    height: 50em;
  }
  #homepage .filter .taxonomy {
    float: left;
    width: 31%;
    margin-right: 2%;
  }
  #homepage .about,
  #homepage .blog,
  #homepage .links {
    float: left;
    box-sizing: border-box;
    padding-right: 2em;
  }
  #homepage .about {
    width: 66.66%;
  }
  #homepage .links {
    width: 33.33%;
    padding-right: 0;
    margin: 0;
  }
  #homepage .blog {
    padding: 0;
    width: 100%;
  }
  #homepage .blog article {
    margin: 0 !important;
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    padding-right: 2em !important;
  }
  #homepage .blog article:last-child {
    padding-right: 0em !important;
  }
  #workshop h1,
  #workshop .desc,
  #workshop ul.links,
  #workshop .address,
  #workshop .tax,
  #workshop section.links,
  #workshop .long {
    padding-left: 0;
    padding-right: 0;
  }
  #workshop .long {
    width: 60%;
  }
  #workshop .photos {
    height: 35em;
    margin: 0 0 3em;
    padding: 0;
  }
  #workshop .tax,
  #workshop section.links {
    width: 50%;
    float: left;
    box-sizing: border-box;
  }
  #workshop .tax {
    padding-right: 1.5em;
  }
  #workshop section.links {
    padding-left: 1.5em;
  }
  #workshops .wrapper > h1 {
    margin: 0 0 1em;
  }
  #workshops article {
    border-top: none;
    border-left: 0.5em solid;
    margin: 1.5em 0;
    height: 128px;
  }
  #workshops article h1 {
    margin-top: 0;
  }
  #workshops article p {
    padding: 0;
    margin: 0 1em;
  }
  #workshops article img {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
  }
  #workshops article div {
    width: 75%;
    margin-left: 1em;
    display: inline-block;
    vertical-align: middle;
  }
  #workshops nav {
    margin: 2em 0;
  }
  #workshops nav a:link,
  #workshops nav a:visited {
    text-decoration: none;
  }
  #list {
    display: block;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    z-index: 1002;
  }
  #list .wrapper > div {
    background: white;
    float: right;
    width: 20em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 100;
  }
  #list .wrapper > div:hover ul {
    transition: max-height 0.5s;
    max-height: 25em;
  }
  #list .wrapper > div h1 {
    padding: 0.75em;
    border-bottom: 1px solid lightGrey;
    font-size: 12pt;
    cursor: s-resize;
  }
  #list .wrapper > div h1:hover {
    background-color: #f2f2f2;
  }
  #list .wrapper > div span {
    color: white;
    background: black;
    border-radius: 25%;
    padding: 0.4em 0.4em 0.25em 0.4em;
    position: absolute;
    top: 0.7em;
    right: 1em;
    text-align: center;
    font-weight: bold;
  }
  #list .wrapper > div ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: auto;
    transition: max-height 0.5s;
  }
  #list .wrapper > div ul li {
    padding: 0.75em;
    border-bottom: 1px solid lightGrey;
    cursor: pointer;
  }
  #list .wrapper > div ul li:hover {
    background-color: #f2f2f2;
  }
  #forum .wrapper {
    padding: 0;
  }
  #blog {
    margin: 0;
  }
  #homepage .wrapper {
    padding: 3em 0;
  }
}
@media screen and (min-width: 75em) {
  section > .wrapper,
  footer > .wrapper,
  #list {
    width: 75em;
    margin: auto;
    display: block;
    position: relative;
  }
  header {
    width: 75em;
    margin-left: -37.5em;
    left: 50%;
  }
  #map {
    height: 50em;
  }
  #homepage .filter .taxonomy {
    float: left;
    width: 18%;
    margin-right: 2%;
  }
  #workshop .desc {
    width: 50%;
  }
  #workshop .address {
    position: absolute;
    top: 3em;
    right: 0;
    padding: 0;
    text-align: right;
  }
  #workshop .photos {
    height: 50em;
  }
  #workshop .tax {
    padding-left: 0;
  }
  #workshop section.links {
    padding: 0;
  }
  .solo {
    margin: auto !important;
  }
  .solo .post,
  .solo .pagination {
    max-width: 75%;
  }
  #comments {
    max-width: 50%;
  }
  footer > a,
  footer img {
    vertical-align: middle;
    margin: 0;
  }
  footer p {
    vertical-align: middle;
    max-width: 50%;
    margin-left: 1em;
  }
}
@media screen and (max-width: 782px) {
  .admin-bar .logo,
  .admin-bar .bar {
    margin-top: 46px;
  }
}
@media (prefers-color-scheme: dark) {
  html,
  #homepage .filter {
    background: #323232;
    color: white;
  }
  html input[type="search"],
  #homepage .filter input[type="search"] {
    background: #1e1e1e;
  }
  html a:link,
  html a:visited {
    color: white;
  }
  #list .wrapper > div {
    background: #323232;
    color: white;
  }
  #list .wrapper > div span {
    color: #1e1e1e;
    background: white;
  }
  #list .wrapper > div h1 {
    border-bottom: #1e1e1e;
  }
  #list .wrapper > div h1:hover {
    background: #1e1e1e;
  }
  #list .wrapper > div ul li {
    border-bottom: 1px solid #1e1e1e;
  }
  #list .wrapper > div ul li:hover {
    background: #1e1e1e;
  }
  .leaflet-popup-content-wrapper,
  .map-legends,
  .map-tooltip,
  .popup {
    background: #323232 !important;
    color: white;
  }
}
