@media screen and (min-width: 75em) {
  section > .wrapper,
  footer > .wrapper,
  #list {
    width: 75em;
    margin: auto;
    display: block;
    position: relative;
  }
  header {
    width: 75em;
    margin-left: -37.5em;
    left: 50%;
  }
  #map {
    height: 65em;
  }
  #homepage .filter .taxonomy {
    float: left;
    width: 18%;
    margin-right: 2%;
  }
  #workshop .desc {
    width: 50%;
  }
  #workshop .address {
    position: absolute;
    top: 3em;
    right: 0;
    padding: 0;
    text-align: right;
  }
  #workshop .photos {
    height: 50em;
  }
  #workshop .tax {
    padding-left: 0;
  }
  #workshop section.links {
    padding: 0;
  }
  .solo {
    margin: auto !important;
  }
  .solo .post,
  .solo .pagination {
    max-width: 75%;
  }
  #comments {
    max-width: 50%;
  }
  footer > a,
  footer img {
    vertical-align: middle;
    margin: 0;
  }
  footer p {
    vertical-align: middle;
    max-width: 50%;
    margin-left: 1em;
  }
}
@media screen and (max-width: 782px) {
  .admin-bar .logo,
  .admin-bar .bar {
    margin-top: 46px;
  }
}
